<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.threemath">
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/logo_senza_sfondo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        >

        <activity android:name=".HomeActivity"


            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity android:name=".RisultatiActivity">

        </activity>

        <activity android:name=".AddizioniActivity">
        </activity>
        <activity android:name=".SottrazioniActivity"></activity>
        <activity android:name=".MoltiplicazioniActivity"></activity>
        <activity android:name=".DivisioniActivity"> </activity>
        <activity android:name=".StatisticheActivityConLista">

        </activity>
        <activity android:name=".CountDownActivity"></activity>
        <activity android:name=".LivelloActivity"></activity>
        <activity android:name=".IndovinelliActivity"></activity>
        <activity android:name=".ImpostazioniActivity"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>